<?xml version="1.0" encoding="utf-8" ?>
<odoo>
    <menuitem id="menu_hospital_root"
              name="SMS"
              web_icon="on_hospital,static/description/icon2.png"
              sequence="35"
    />

    <menuitem id="menu_frontdesk"
              name="Front Desk"
              parent="menu_hospital_root"
    />

    <menuitem id="menu_students"
              name="Student"
              parent="menu_frontdesk"
              action="action_student_list"
    />

    <menuitem id="menu_schools"
              name="Schools"
              parent="menu_frontdesk"
              action="action_school_list"
    />


</odoo>